h1 {
    align-self: center;
}
body  ::before{
font-family: 'Poppins',
    sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: aliceblue;
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
    @media (min-width) {
        max-width: 540px;
        
    }

}
